.root {
  padding: 5rem 1rem;
  text-align: center;
}

.label {
  font-size: 5rem;
  font-weight: 800;
  color: #c2d2ca;
}

.title {
  margin-top: 0;
}

.description {
  max-width: 550px;
  margin: 1rem auto;
  color: #607168;
}

.button {
  display: inline-block;
  background: #1f7a4f;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 10px;
}
